<header
  class="bg-white dark:bg-slate-950 border-b border-slate-100 dark:border-slate-900 shadow-[0_4px_20px_0_rgba(118,149,255,0.1)] fixed top-0 w-full z-50"
>
  <div
    class="flex items-center justify-between px-8 py-4 max-w-7xl mx-auto w-full"
  >
    <div class="flex items-center gap-unit">
      <span
        class="text-xl font-bold tracking-tighter text-[#7695FF] dark:text-blue-400 font-display-lg"
        >GitFlow</span
      >
    </div>
    <nav class="hidden md:flex items-center gap-xl h-full">
      <a
        class="font-['Plus_Jakarta_Sans'] text-sm font-medium tracking-tight transition-all duration-200 ease-in-out hover:opacity-80 cursor-pointer active:scale-95 transition-transform "
        routerLink="/usuarios"
        routerLinkActive="text-[#7695FF] dark:text-blue-400 border-b-2 border-[#7695FF] pb-4 -mb-[17px]"
        >Usuarios</a
      >
      <a
        class="font-['Plus_Jakarta_Sans'] text-sm font-medium tracking-tight transition-all duration-200 ease-in-out hover:opacity-80 cursor-pointer active:scale-95 transition-transform text-slate-400 dark:text-slate-500 hover:text-slate-600 dark:hover:text-slate-300 pb-4"
        routerLink="/repositorios"
                routerLinkActive="text-[#7695FF] dark:text-blue-400 border-b-2 border-[#7695FF] pb-4 -mb-[17px]"

        >Repositorios</a
      >
    </nav>
    <div class="flex items-center gap-md">
      <div
        class="w-8 h-8 rounded-full overflow-hidden border border-outline-variant"
      >
        <img
          alt="User Profile"
          data-alt="A professional studio headshot of a team leader in a minimalist office setting with soft natural lighting. The color palette consists of soft blues and crisp whites, matching the serene and organized aesthetic of the brand identity. The mood is approachable and professional, emphasizing a modern light-mode design style."
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuASA6zfdrjxRmRK41IYAcD0E0Whu6jOezUia7wM1fI4EDqb2KmSC5SwDcmUoGj0B0FVgkQ4OZ2Jj8h7i4V9i9S8AwhcH3qiIngfbP5K8qS2AViyNDq54hTSAvifBq65MmrG8CjXtqt8ER8b_10G4b9pbv5DXSNRzwG7kJwbcz93FJSh_u4VxDR7OrQGtcA8K69PLLVsgAeofTZvkPlb5sqYgZ8HHAoF-7hJK4W69NbRckknmxbwtLyVhbl7N08vF8lZ0C3T6sbcUaU"
        />
      </div>
    </div>
  </div>
</header>
